<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="utf-8">
		<title>Exobrain LTA</title>
		<link href="../static/css/bootstrap.css" rel="stylesheet">
		<link href="../static/css/ExobrainLTA.css" rel="stylesheet">
		<link href="../static/css/bootstrap-responsive.css" rel="stylesheet">
	</head>
	<body>
		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<a class="btn btn-navbar" data-toggle="collapse" data-target="#navMenu"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </a>
					<a class="brand" href="#">Exobrain LTA</a>
					<div class="nav-collapse" id="navMenu">
						<ul class="nav center">
							<li class="active">
								<a href="#">Validation</a>
							</li>
							<li>
								<a href="timeline.html">Timeline</a>
							</li>
							<li>
								<a href="profile.html">Profile</a>
							</li>
							<li>
								<a href="account.html">Account</a>
							</li>
						</ul>
						<div class="btn-group pull-right">
							<a class="btn" id="adminBtn"> <i class="icon-pencil"></i>Admin <span class="caret"></span> </a>
							<a class="btn" id="logoutBtn"> <i class="icon-user"></i>Logout <span class="caret"></span> </a>
						</div>
					</div>
				</div>
			</div>
		</div><!--End of NavBar!-->
		<div class="container bg">
			<!-- Start of Container -->
			<div class="timeline">
				<!-- Start of Timeline -->
				<div class="span7 bottom15">
					<!-- Start of Span7 -->
					<div class="roundinside bottom15 center">
						<fieldset>

							<label class="lightblue bold leftalign" for="textarea"> Subject를 의미하는 엔트리를 선택하세요. </label>

							<div class="roundinside">
								<div class="pagination pagination-centered">

									<div class="span7 bottom15">
										<!-- Start of Span7 -->
										<div class="roundinside" id='msgTemplate' style="display:none;">
											<a data-toggle="modal" class="getInfo"> <div class='name lightblue'></div> </a>
											<div class='content'>
												<a class="btn close" name="deleteMsg">X</a>
											</div>
											<span class='date'></span>
											<span class='like'> <a class="btn btn-mini" id="like" name="like" > <i class='icon-chevron-up '></i></a></span>
										</div>
										<div id='timelinearea'></div>
									</div><!-- End of Span7 -->

									<table width='100%' border='0' cellspacing='0' cellpadding= '5' align='center'>

										<col align='left'>
										<col align='left'>
										<col align='left'>

										<tr>
											<th width="5%"></th>
											<th width="20%">엔트리</th>
											<th width="75%">설명</th>

										</tr>

										<tr>
											<td valign="middle">
											<input type=checkbox name="uri_selected" value="0"
											col="100%" row="100%">
											</td>
											<td valign="middle"><a href=target=blank>내소사</a></td>
											<td align="left">내소사 來蘇寺 는 전라북도 부안군 진서면 석포리에 있는 절이다. 삼국시대 백제에서 건립되었다.</td>

										</tr>

										<tr>
											<td valign="middle">
											<input type=checkbox name="uri_selected" value="0"
											col="100%" row="100%">
											</td>
											<td valign="middle" align="left"><a href=target=blank>내소사_동종</a></td>
											<td align='left'>내소사 동종 來蘇寺銅鍾 은 전라북도 부안군 내소사에 있는, 고려시대의 구리 종이다. 대한민국의 보물 제277호로 지정되어 있다. 고려 종의 특색이 잘 나타나 있는 구리종으로 높이 103센티미터, 구경 67센티미터이다. 명문에 따르면, 이 종은 1222년에 만들어져 원래 청림사에 있던 것을 1853년에 내소사로 옮긴 것이다.</td>

										</tr>

									</table>
								</div>
							</div>
						</fieldset>
					</div>

					<div class="roundinside bottom15 center">
						<fieldset>

							<label class="lightblue bold leftalign" for="textarea"> Object를 의미하는 엔트리를 선택하세요. </label>

							<div class="roundinside">
								<div class="pagination pagination-centered">
									<table width='100%' border='0' cellspacing='0' cellpadding= '5' align='center'>

										<col align='left'>
										<col align='left'>
										<col align='left'>

										<tr>
											<th width="5%"></th>
											<th width="20%">엔트리</th>
											<th width="75%">설명</th>

										</tr>

										<tr>
											<td valign="middle">
											<input type=checkbox name="uri_selected" value="0"
											col="100%" row="100%">
											</td>
											<td valign="middle"><a href=target=blank>내소사</a></td>
											<td align="left">내소사 來蘇寺 는 전라북도 부안군 진서면 석포리에 있는 절이다. 삼국시대 백제에서 건립되었다.</td>

										</tr>

										<tr>
											<td valign="middle">
											<input type=checkbox name="uri_selected" value="0"
											col="100%" row="100%">
											</td>
											<td valign="middle" align="left"><a href=target=blank>내소사_동종</a></td>
											<td align='left'>내소사 동종 來蘇寺銅鍾 은 전라북도 부안군 내소사에 있는, 고려시대의 구리 종이다. 대한민국의 보물 제277호로 지정되어 있다. 고려 종의 특색이 잘 나타나 있는 구리종으로 높이 103센티미터, 구경 67센티미터이다. 명문에 따르면, 이 종은 1222년에 만들어져 원래 청림사에 있던 것을 1853년에 내소사로 옮긴 것이다.</td>

										</tr>

									</table>
								</div>
							</div>
						</fieldset>
					</div>

					<div class="roundinside bottom15 center">
						<fieldset>

							<label class="lightblue bold leftalign" for="textarea"> 다음 지식의 진리 여부를 선택하세요. </label>

							<div class="pagination pagination-centered">

								<DIV class="knowledge_validation">

									<table width='100%' border='0' align='center'>
										<col align='left'>
										<col align='left'>
										<col align='left'>
										<tr>
											<th width="30%">Subject</th>
											<th width="30%">Object</th>
											<th width="40%">Predicate</th>
										</tr>
										<tr>
											<td>내소사는</td>
											<td>대한불교조계종 </td>
											<td>종파이다. </td>

										</tr>
										<tr>

										</tr>
									</table>

								</DIV>

								<div class="roundinside">
									<span>
										<ul>
											<a ><strong id="total"></strong>
											<input TYPE='radio' id='true' name='answer'	value='true' />
											<label for='r1'>TRUE</label> </a>
										</ul>
										<ul>
											<a ><strong id="mine"></strong>
											<input TYPE='radio'	id='false' name='answer' value='false' />
											<label for='r2'>FALSE</label><!--  input type='button' value='확인' onclick='show_checked();' --> </a>
										</ul> </span>
								</div>

							</div>

						</fieldset>
					</div>

					<div class="roundinside bottom15 center">
						<fieldset>

							<div>
								<a class="btn btn-primary" id="writeBtn">검증완료</a>
								<a class="btn btn-info between" id="reloadBtn"> Next</a>
							</div>
						</fieldset>
					</div>

					<div class="roundinside" id='msgTemplate' style="display:none;">
						<a data-toggle="modal" class="getInfo"> <div class='name lightblue'></div> </a>
						<div class='content'>
							<a class="btn close" name="deleteMsg">X</a>
						</div>
						<span class='date'></span>
						<span class='like'> <a class="btn btn-mini" id="like" name="like" > <i class='icon-chevron-up '></i></a></span>
					</div>
					<div id='timelinearea'></div>
				</div><!-- End of Span7 -->

				<div class="span4 submenu">
					<!-- Start of Span4 -->
					<div class="roundinside">
						<span>ID : </span><span id="username"></span>
					</div>
					<div class="roundinside">
						<div class="pagination pagination-centered">
							<ul>
								<li>
									<a ><strong id="total"></strong>Total Validation</a>
								</li>
								<li>
									<a ><strong id="mine"></strong>My Validation</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="roundinside center bottom15">
						<input type="text" class="search" id="search"/>
						<a class="btn btn-info" id="searchBtn"> <i class="icon-search"></i></a>
					</div>
				</div><!-- End of Span4 -->
			</div><!-- End of Validation -->

		</div><!-- End of Container -->

		<div class="modal hide fade" id="myModal" >
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">
					×
				</button>
				<h2><span id="modalid"></span>'s Info</h2>
			</div>
			<div class="modal-body">
				<h3>Nick : <span id="modalnickname"> </span></h3>
				<h3>Country : <span id="modalcountry"> </span></h3>
				<h3>URL : <span id="modalurl"> </span></h3>
				<h3>Comment : <span id="modalcomment"> </span></h3>
			</div>
		</div>

		<script type="text/javascript"
		src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
		<script type="text/javascript"
		src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>
		<script src="../static/js/bootstrap.js"></script>
		<script src="../static/js/ExobrainLTA.js"></script>
		<script src="../static/js/base64.js"></script>
		<script>
			$(document).ready(function() {
				//getLoginString();
				doGetValidation();
				$("#adminBtn").click(goAdmin);
				$("#writeBtn").click(doWriteTimeline);
				$("#reloadBtn").click(doReload);

				$("[name=deleteMsg]").live("click", doDeleteTimeline);
				$("#searchBtn").click(doSearchTimeline);
				$("#logoutBtn").click(doLogout);

				$("[name=like]").live("click", doLike);
				$(".getInfo").live("click", doGetUserInfo);
			});
		</script>
	</body>
</html>