<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="utf-8">
		<title>Exobrain LTA</title>
		<link href="../static/css/bootstrap.css" rel="stylesheet">
		<link href="../static/css/ExobrainLTA.css" rel="stylesheet">
		<link href="../static/css/bootstrap-responsive.css" rel="stylesheet">
	</head>
	<body>
		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<a class="btn btn-navbar" data-toggle="collapse" data-target="#navMenu"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </a>
					<a class="brand" href="#">Exobrain LTA</a>
					<div class="nav-collapse" id="navMenu">
						<ul class="nav center">
							<li  class="active">
								<a href="#">Task</a>
							</li>
							<li>
								<a href="validation.html">Validation</a>
							</li>

							<!--li>
								<a href="timeline.html">Timeline</a>
							</li>
							<li>
								<a href="profile.html">Profile</a>
							</li>
							<li>
								<a href="account.html">Account</a>
							</li-->

						</ul>
						<div class="btn-group pull-right">
							<a class="btn" id="adminBtn"> <i class="icon-pencil"></i>Admin <span class="caret"></span> </a>
							<a class="btn" id="logoutBtn"> <i class="icon-user"></i>Logout <span class="caret"></span> </a>
						</div>
					</div>
				</div>
			</div>
		</div><!--End of NavBar!-->
		<div class="container bg">
			<!-- Start of Container -->
			<div class="task">
				<!-- Start of task -->
				<div class="span7 bottom15">
					<!-- Start of Span7 -->

					<div class="roundinside bottom15 center">
						<fieldset>
							<label class="lightblue bold leftalign" for="textarea"> 검증할 지식그룹을 선택하세요. </label>
						</fieldset>
					</div>

					<div class="roundinside" align="left"	id='groupTemplate' style="display:none;">
						<a data-toggle="modal" class="getInfo"> <div class='name lightblue'></div> </a>
						<div class='sub_cluster_0'>
							 <a class="btn btn-mini" name="select_group" > <i class='icon-check'></i></a> 
						</div>

					</div>

					<div id='grouparea'></div>
					<br/>
					<div class="roundinside bottom15 center">
						<fieldset>
							<!--label class="lightblue bold leftalign" for="textarea"> 선택된 그룹:  </label-->
							<label class="lightblue bold leftalign" for="textarea"> <div class='selected_group'></div> 아래 지식들에 검증이 필요합니다. 검증을 원치 않는 엔트리는 체크버튼을 눌러 해제하면 됩니다. 리스트를 확인 후 시작 버튼을 눌러주세요.</label>
						</fieldset>
					</div>


					<div class="roundinside" align="left"	id='candidateTemplate' style="display:none;">
						<a data-toggle="modal" class="getInfo"> <div class='name lightblue'></div> </a>
						<div class='triple'>
							<input type=checkbox  vertical-align:top  name="uri_selected" value="0"
								col="100%" row="100%">
							 <!--a class="btn btn-mini" id="select_candidate" name="select_candidate" > <i class='icon-check'></i></a--> 
						</div>

					</div>

					<div id='candidatearea'></div>
	

				<div class="roundinside bottom15 center">
				<fieldset>

					<div>
						<a class="btn btn-primary" id="startBtn"> 검증시작</a>
					</div>
				</fieldset>
			</div>
	
				</div><!-- End of Span7 -->
			</div><!-- End of task -->

			<div class="span4 submenu">
				<!-- Start of Span4 -->
				<div class="roundinside">
					<span>ID : </span><span id="username"></span><br/><br/>
					<span> 김철수 님</span>
					
				</div>
				<div class="roundinside">
					<div class="pagination pagination-centered">
						<ul>
							<li>
								<a >100<!--strong id="total"></strong--><br/>남은 개수</a>
							</li>
							<li>
								<a >0<!--strong id="mine"></strong--><br/>완료 개수</a>
							</li>
							<li>
							<a >85%<!--strong id="mine"></strong-->
							<br/>
							수용률</a>
						</li>
						</ul>
					</div>
				</div>
				<div class="roundinside center bottom15">
					<input type="text" class="search" id="search"/>
					<a class="btn btn-info" id="searchBtn"> <i class="icon-search"></i></a>
				</div>

			</div><!-- End of Span4 -->
		</div><!-- End of task -->

		</div><!-- End of Container -->

		<div class="modal hide fade" id="myModal" >
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">
					×
				</button>
				<h2><span id="modalid"></span>'s Info</h2>
			</div>
			<div class="modal-body">
				<h3>Nick : <span id="modalnickname"> </span></h3>
				<h3>Country : <span id="modalcountry"> </span></h3>
				<h3>URL : <span id="modalurl"> </span></h3>
				<h3>Comment : <span id="modalcomment"> </span></h3>
			</div>
		</div>

		<script type="text/javascript"
		src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
		<script type="text/javascript"
		src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>
		<script src="../static/js/bootstrap.js"></script>
		<script src="../static/js/ExobrainLTA.js"></script>
		<script src="../static/js/base64.js"></script>
		<script>
			$(document).ready(function() {

				getLoginString();
				doGetTask();
				$("[name=select_group]").live("click", doGetSubtask);
				$("[name=select_candidate]").live("click", doGetValidation);


				$("#startBtn").click(doGetValidation);
				$("#adminBtn").click(goAdmin);
				$("#logoutBtn").click(doLogout);
			});
		</script>
	</body>
</html>