<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="utf-8">
		<title>Exobrain LTA</title>
		<link href="../static/css/bootstrap.css" rel="stylesheet">
		<link href="../static/css/ExobrainLTA.css" rel="stylesheet">
		<link href="../static/css/bootstrap-responsive.css" rel="stylesheet">
	</head>
	<body>
		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<a class="btn btn-navbar" data-toggle="collapse" data-target="#navMenu"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </a>
					<a class="brand" href="#">Exobrain LTA</a>
					<div class="nav-collapse" id="navMenu">
						<ul class="nav center">
							<li>
								<a href="task.html">Task</a>
							</li>
							<li class="active">
								<a href="#">Validation</a>
							</li>

							<!--li>
							<a href="timeline.html">Timeline</a>
							</li>
							<li>
							<a href="profile.html">Profile</a>
							</li>
							<li>
							<a href="account.html">Account</a>
							</li-->

						</ul>
						<div class="btn-group pull-right">
							<a class="btn" id="adminBtn"> <i class="icon-pencil"></i>Admin <span class="caret"></span> </a>
							<a class="btn" id="logoutBtn"> <i class="icon-user"></i>Logout <span class="caret"></span> </a>
						</div>
					</div>
				</div>
			</div>
		</div><!--End of NavBar!-->
		<div class="container bg">
			<!-- Start of Container -->
			<div class="timeline">
				<!-- Start of Timeline -->
				<div class="span7 bottom15">
					<!-- Start of Span7 -->
					<div class="roundinside bottom15 center">
						<fieldset>
							<label class="lightblue bold leftalign" for="textarea"> 아래 Subject (경복궁) 에 가장 적절한 설명을 선택해 주세요. </label>

						</fieldset>

						<div class="roundinside leftalign" id='subTemplate' style="display:none;">
							<a data-toggle="modal" class="getInfo"> <div class='subject lightblue'></div> </a>

							<div class='sub_desc'>

							</div>

							<!--span class='like'> <a class="btn btn-mini" id="like" name="like" > <i class='icon-chevron-up '></i></a></span-->

						</div>
						<div id='subjectarea'></div>

					</div>

					<!--데모용 시작-->
					<div class="roundinside bottom15 center">
						<fieldset>
							<label class="lightblue  leftalign" for="textarea"> 출처: DBpedia</label>
							<div align="left">
								<input type=checkbox   vertical-align='middle'  name="uri_selected" value="0"
								col="100%" row="100%" >
								&nbsp;
								경복궁(景福宮)은 대한민국 서울 세종로에 있는 조선 왕조의 법궁(法宮)이다. 궁의 넓이는 43만2703(432,703)㎡다. 경복궁은 1395년(태조 4년)에 창건하였다. ‘경복(景福)’은 시경에 나오는 말로 왕과 그 자손, 온 백성들이 태평성대의 큰 복을 누리기를 축원한다는 의미이다. 풍수지리적으로도 백악산을 뒤로하고 좌우에는 낙산과 인왕산으로 둘러싸여 있어 길지의 요건을 갖추고 있다. 

							</div>
						</fieldset>
					</div>
					<div class="roundinside bottom15 center">
						<fieldset>
							<label class="lightblue  leftalign" for="textarea"> 출처: 두산백과(doopedia)</label>
							<div align="left">
								<input type=checkbox   vertical-align='middle'  name="uri_selected" value="0"
								col="100%" row="100%" >
								&nbsp;
								서울특별시 종로구에 있는 조선시대의 정궐(正闕).

							</div>
						</fieldset>
					</div>

					<!--데모용 끝-->
					</br>
					<div class="roundinside bottom15 center">
						<label class="lightblue bold leftalign" for="textarea">아래 Predicate (유형) 에 가장 적절한 설명을 선택해 주세요. </label>
						<div class="roundinside leftalign" id='objTemplate' style="display:none;">
							<a data-toggle="modal" class="getInfo"> <div class='object lightblue'></div> </a>
							<div class='obj_desc'>
								<input type=checkbox  vertical-align:top  name="uri_selected" value="0"
								col="100%" row="100%">
								&nbsp;

							</div>

							<!--span class='like'> <a class="btn btn-mini" id="like" name="like" > <i class='icon-chevron-up '></i></a></span-->
							<!--input type=checkbox name="uri_selected" value="0"
							col="100%" row="100%"-->
						</div>
						<div id='objectarea'></div>

					</div>
					<div class="roundinside bottom15 center">
						<fieldset>
							<label class="lightblue  leftalign" for="textarea"> 출처: DBpedia)</label>
							<div align="left">
								<input type=checkbox   vertical-align='middle'  name="uri_selected" value="0"
								col="100%" row="100%" >
								&nbsp;
								유형(類型)은 철학적 개념의 하나이다. 유형(流刑)은 죄인을 귀양 보내던 형벌이다. 유형(柳珩)은 조선 선조 때의 장군이다. 유형(柳珩)은 삼도수군통제사다. 설두 유형은 조선 말기의 승려이다.

							</div>
						</fieldset>
					</div>

					<!--데모용 시작-->
					<div class="roundinside bottom15 center">
						<fieldset>
							<label class="lightblue  leftalign" for="textarea"> 출처: 두산백과(doopedia)</label>
							<div align="left">
								<input type=checkbox   vertical-align='middle'  name="uri_selected" value="0"
								col="100%" row="100%" >
								&nbsp;
								어떤 일군(一群)의 사물에 공통된 특징이 있다고 간주되는 형식.

							</div>
						</fieldset>
					</div>
					<div class="roundinside bottom15 center">
						<fieldset>
							<label class="lightblue leftalign" for="textarea"> 출처: 한국민족문화대백과</label>
							<div align="left">
								<input type=checkbox   vertical-align='middle'  name="uri_selected" value="0"
								col="100%" row="100%" >
								&nbsp;
								오형(五刑)의 하나로 죄인을 먼 곳으로 보내 그곳에 거주하게 하는 형벌. 유배(流配)라고도 한다. 중한 죄를 범했을 때 차마 사형에는 처하지 못하고 먼 곳으로 보내어 죽을 때까지 고향에 돌아오지 못하게 하는 형벌이다.

							</div>
						</fieldset>
					</div>
					</br>
					<!--데모용 끝-->
					<div class="roundinside bottom15 center">
						<fieldset>

							<label class="lightblue bold leftalign" for="textarea"> 다음 지식의 진실/사실 여부를 선택하세요. </label>

							<div class="pagination pagination-centered">

								<DIV class="knowledge_validation">

									<table width='60%' border='0' align='center'>
										<col align='left'>
										<col align='left'>
										<col align='left'>
										<tr>
											<th width="30%">Predicate</th>
											<th width="30%">( Subject </th>
											<th width="40%">Object)</th>
										</tr>
										<tr>
											<td>유형<div id="knowledge_predicate"></div></td>
											<td>경복궁<div id="knowledge_subject"></div></td>
											<td>대한민국의_사적<div id="knowledge_object"></div></td>

										</tr>
										<tr>

										</tr>
									</table>

								</DIV>

								<div class="roundinside">
									<span>
										<fieldset>
											<ul>
												<a >
												<input TYPE='radio' id='radio_true' name='answer'	value='true' />
												<label for='r1'>맞음</label> </a>
											</ul>
											<ul>
												&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
											</ul>
											<ul>
												<a ><strong id="mine"></strong>
												<input TYPE='radio'	id='radio_false' name='answer' value='false' />
												<label for='r2'>틀림</label><!--  input type='button' value='확인' onclick='show_checked();' --> </a>
											</ul>
									</span>
						</fieldset>
					</div>

				</div>

				</fieldset>
			</div>

			<div class="roundinside bottom15 center">
				<fieldset>

					<div>
						<a class="btn btn-primary" id="completeBtn">검증완료</a>
						<a class="btn btn-info between" id="reloadBtn"> 취소</a>
					</div>
				</fieldset>
			</div>

		</div><!-- End of Span7 -->

		<div class="span4 submenu">
			<!-- Start of Span4 -->
			<div class="roundinside">
				<span>ID : exobrain</span><span id="username"></span></br></br>
				<span> 김철수 님</span>
			</div>
			<div class="roundinside">
				<div class="pagination pagination-centered">
					<ul>
						<li>
							<a >99<!--strong id="total"></strong-->
							<br/>
							남은 개수</a>
						</li>
						<li>
							<a >1<!--strong id="mine"></strong-->
							<br/>
							완료 개수</a>
						</li>
						<li>
							<a >85%<!--strong id="mine"></strong-->
							<br/>
							수용률</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="roundinside center bottom15">
				<input type="text" class="search" id="search"/>
				<a class="btn btn-info" id="searchBtn"> <i class="icon-search"></i></a>
			</div>

		</div><!-- End of Span4 -->
		</div><!-- End of Validation -->

		</div><!-- End of Container -->

		<div class="modal hide fade" id="myModal" >
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">
					×
				</button>
				<h2><span id="modalid"></span>'s Info</h2>
			</div>
			<div class="modal-body">
				<h3>Nick : <span id="modalnickname"> </span></h3>
				<h3>Country : <span id="modalcountry"> </span></h3>
				<h3>URL : <span id="modalurl"> </span></h3>
				<h3>Comment : <span id="modalcomment"> </span></h3>
			</div>
		</div>

		<script type="text/javascript"
		src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
		<script type="text/javascript"
		src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>
		<script src="../static/js/bootstrap.js"></script>
		<script src="../static/js/ExobrainLTA.js"></script>
		<script src="../static/js/base64.js"></script>
		<script>
			$(document).ready(function() {
				getLoginString();
				//doGetValidation();
				$("#adminBtn").click(goAdmin);
				$("#completeBtn").click(doGetValidation2);
				//$("#completeBtn").click(doCompleteValidation);
				//$("#reloadBtn").click(doReload);

				//$("[name=deleteMsg]").live("click", doDeleteTimeline);
				//$("#searchBtn").click(doSearchTimeline);
				$("#logoutBtn").click(doLogout);

				// $("[name=like]").live("click", doLike);
				// $(".getInfo").live("click", doGetUserInfo);
			});
		</script>
	</body>
</html>